<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>로그인</title>
  <link rel="icon" href=""/>

  <title>로그인</title>
</head>

<body>
  <!-- (start)accounts - sign-in 영역 -->
    <form action="{% url 'sign-in' %}" method="POST">
      {% csrf_token %}
      <div style="display: flex; flex-direction: column;">
          <input type="text" id="id_email" name="id_email" placeholder="이메일">
          <input type="password" id="password" name="password" placeholder="비밀번호">
          <button type="submit">로그인</button>
      </div>
      </form>
</body>

</html>