<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mytastesns</title>
  <link rel="icon" href=""/>

  <title>mytastesns</title>
</head>

<body>
    <nav style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            로고
        </div>
        <div>
            검색창
        </div>
        <div>
            <button onclick="location.href='/logout'">로그아웃</button>
        </div>
    </nav>
</body>

</html>