<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mytastesns</title>
    <link rel="icon" href="" />

    <title>mytastesns</title>
</head>

<body>
    <!-- (start))main - base 영역 -->
    <nav style="display: flex; flex-direction: row; justify-content: space-between; background-color: black; color: white; height: 40px;">
        <div>
            로고
        </div>
        <div>
            검색창
        </div>
        <div>
            <button onclick="location.href='/upload'">글쓰기</button>
            <button onclick="location.href='/logout'">로그아웃</button>
        </div>
    </nav>
    <!-- (end))main - base 영역 -->
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <!-- (start)main - L/side 영역 -->
        <div style="display: flex; flex-direction: column; background-color: #fafafa; height: 100vh; width: 200px;">

        </div>
        <!-- (end)main - L/side 영역 -->
        <!-- (start)main - center 영역 -->
        <div style="display: flex; flex-direction: column; background-color: #fafafa; height: 100vh; width: 800px;">
            {% for feed in feeds %}
            <!-- (start)main - center - feed 영역 -->
            <div style="display: flex; flex-direction: column; background-color: white; width: 90%; margin: 10px auto 10px auto;">
                <!-- (start)main - center - feed - profile 영역 -->
                <div style="display: flex; flex-direction: row; justify-content: space-between; background-color: black; color: white;">
                    <div style="display: flex; flex-direction: row; height: 40px;">
                        <div>로고</div>
                        <div>{{ feed.author.nickname }}</div>
                    </div>
                    <!-- (start)피드 삭제 버튼 -->
                    {% if feed.author == user %}
                    <a href="feed/delete/{{ feed.id }}">
                        <div>ooo</div>
                    </a>
                    {% endif %}
                    <!-- (end))피드 삭제 버튼 -->
                </div>
                <!-- (end)main - center - feed - profile 영역 -->

                <!-- (start)main - center - feed - img 영역 -->
                <div>
                    <img style="width: 90%; width: 100%;" src="{{ feed.image }}" alt="">
                </div>
                <!-- (end)main - center - feed - img 영역 -->

                <!-- (start)main - center - feed - icon + like + text 영역 -->
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row;">
                        <div>좋아요 아이콘</div>
                    </div>
                    <div>0명이 좋아합니다.</div>
                    <div style="display: flex; flex-direction: row;">
                        <div>{{ feed.author.nickname }}</div>
                        <div>{{ feed.content }}</div>
                    </div>
                </div>
                <!-- (end)main - center - feed - icon + like + text 영역 -->

                <!-- (start)main - center - feed - comment + reply 영역 -->
                <div> 댓글 / 대댓글 </div>
                <div style="background-color: black; color: white; height: 40px;"> 댓글 입력란 </div>
                <!-- (end)main - center - feed - comment + reply 영역 -->
                <div></div>
            </div>
            <!-- (end)main - center - feed 영역 -->
            {% endfor %}
        </div>
        <!-- (end)main - center 영역 -->
        <!-- (start)main - R/side 영역 -->
        <div style="display: flex; flex-direction: column; background-color: #fafafa; height: 100vh; width: 200px;">

        </div>
        <!-- (end)main - R/side 영역 -->
    </div>

</body>

</html>